.user{
    
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;

    .panel{
        width: 100%;
        max-width: 900px;
        height: 50px;
        background-color: rgb(125, 194, 255);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 1;

        .name{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .icon{
                margin-left: 15px;
                font-size: x-large;
            }
            .text{
                margin-left: 15px;
            }
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;

            button{
              font-size: 10px;
            }

            .add_type{
                height: 100%;
                margin-right: 5px;

                button{
                    height: auto;
                    padding: 8px 5px;
                    // background-color: #00cc00;
                    // color: white;
                    border-radius: 5px;
                    border: 0;
                    cursor: pointer;
                }
            }

            .edit_user{
                height: 100%;
                margin-right: 5px;

                button{
                    height: auto;
                    padding: 8px 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: white;
                    color: rgb(119, 117, 117);
                    border: 1px solid rgb(119, 117, 117) !important;
    
                    &:active{
                        background-color: rgb(119, 117, 117);
                        color: white;
                    }
                }
            }
            
            .log_out{
                height: 100%;
                margin-right: 5px;

                button{
                    height: auto;
                    padding: 8px 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    background-color: #f00000;
                    color: rgb(255, 255, 255);
                    border: 0;
    
                    &:active{
                        background-color: rgb(255, 88, 88);
                        color: white;
                    }
                }
            }
        }
    }
    .types{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        .type{
            width: 100%;
            min-height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: aquamarine;
            margin-top: 5px;
            padding: 0 15px;

            .type_left{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;

                .type_icon{
                    font-size: large;
                    height: 100%;
                    margin: auto 0;
                }
                .type_name{
                    margin-left: 15px;
                }
                .quality{
                    margin-left: 10px;
                }
            }
            .type_buttons{
              display: flex;
              align-items: center;

              .edit_type, .delete_type{
                height: auto;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
                background-color: white;
                color: rgb(119, 117, 117);
                border: 1px solid rgb(119, 117, 117) !important;
                margin-left: 10px;
    
                &:active{
                  background-color: rgb(119, 117, 117);
                  color: white;
                }
              }

              .delete_type{
                background-color: rgb(240, 0, 0);
                color: white;
                border: 0 !important;

                &:active{
                  background-color: rgb(255, 88, 88);
                }
              }
            }
        }
        @keyframes ldio-3opmt1mq4co {
            0% { opacity: 1 }
            100% { opacity: 0 }
          }
          .ldio-3opmt1mq4co div {
            left: 94px;
            top: 48px;
            position: absolute;
            animation: ldio-3opmt1mq4co linear 1s infinite;
            background: #fe718d;
            width: 12px;
            height: 24px;
            border-radius: 6px / 12px;
            transform-origin: 6px 52px;
          }.ldio-3opmt1mq4co div:nth-child(1) {
            transform: rotate(0deg);
            animation-delay: -0.9166666666666666s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(2) {
            transform: rotate(30deg);
            animation-delay: -0.8333333333333334s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(3) {
            transform: rotate(60deg);
            animation-delay: -0.75s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(4) {
            transform: rotate(90deg);
            animation-delay: -0.6666666666666666s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(5) {
            transform: rotate(120deg);
            animation-delay: -0.5833333333333334s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(6) {
            transform: rotate(150deg);
            animation-delay: -0.5s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(7) {
            transform: rotate(180deg);
            animation-delay: -0.4166666666666667s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(8) {
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(9) {
            transform: rotate(240deg);
            animation-delay: -0.25s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.16666666666666666s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(11) {
            transform: rotate(300deg);
            animation-delay: -0.08333333333333333s;
            background: #fe718d;
          }.ldio-3opmt1mq4co div:nth-child(12) {
            transform: rotate(330deg);
            animation-delay: 0s;
            background: #fe718d;
          }
          .loadingio-spinner-spinner-0udingbvrrcc {
            width: 200px;
            height: 200px;
            display: inline-block;
            overflow: hidden;
            background: transparent;
            margin: 0 auto;
          }
          .ldio-3opmt1mq4co {
            width: 100%;
            height: 100%;
            position: relative;
            transform: translateZ(0) scale(1);
            backface-visibility: hidden;
            transform-origin: 0 0; /* see note above */
          }
          .ldio-3opmt1mq4co div { box-sizing: content-box; }
          /* generated by https://loading.io/ */
    }
}